.slider {
    width: 615px;
    height: 695px;
}

.spot {
	width: 375px;
	height: 119px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.spot-separator {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.iframe-preview {
    -moz-transform: scale(0.25, 0.25); 
    -webkit-transform: scale(0.25, 0.25); 
    -o-transform: scale(0.25, 0.25);
    -ms-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    border: solid #ccc 10px;
}