<div>
    <div class="row">
        <div class="col-md-8">
            <div class="thumbnail">
                <a href='#/editor'><img data-src="holder.js/585x650/sky/text:Editar Carrossel" alt="Editar Carrossel" ng-click="editSpot(0)" holder-fix></a>
            </div>
        </div>    
        <div class="col-md-4 spot-separator">
            <div class="col-md-8">
                <a href='#/editor'><img data-src="holder.js/150x85/lava/text:Editar Destaque" alt="Editar Destaque" ng-click="editSpot(1)" holder-fix></a>
            </div>
            <div class="col-md-4">
                <p>- {{getSpot(1).overCaption}} -</p>
                {{getSpot(1).caption}}
            </div>
        </div>
        <div class="col-md-4 spot-separator">
            <div class="col-md-4">
                <p>- {{getSpot(2).overCaption}} -</p>
                {{getSpot(2).caption}}
            </div>            
            <div class="col-md-8">
                <a href='#/editor'><img data-src="holder.js/150x85/lava/text:Editar Destaque" alt="Editar Destaque" ng-click="editSpot(2)" holder-fix></a>
            </div>
        </div>
        <div class="col-md-4 spot-separator">
            <div class="col-md-8">
                <a href='#/editor'><img data-src="holder.js/150x85/lava/text:Editar Destaque" alt="Editar Destaque" ng-click="editSpot(3)" holder-fix></a>
            </div>
            <div class="col-md-4">
                <p>- {{getSpot(3).overCaption}} -</p>
                {{getSpot(3).caption}}
            </div>
        </div>
        <div class="col-md-4 spot-separator">
            <div class="col-md-4">
                <p>- {{getSpot(4).overCaption}} -</p>
                {{getSpot(4).caption}}
            </div>
            <div class="col-md-8">
                <a href='#/editor'><img data-src="holder.js/150x85/lava/text:Editar Destaque" alt="Editar Destaque" ng-click="editSpot(4)" holder-fix></a>
            </div>
        </div>
        <div class="col-md-4 spot-separator">
            <div class="col-md-8">
                <a href='#/editor'><img data-src="holder.js/150x85/lava/text:Editar Destaque" alt="Editar Destaque" ng-click="editSpot(5)" holder-fix></a>
            </div>
            <div class="col-md-4">
                <p>- {{getSpot(5).overCaption}} -</p>
                {{getSpot(5).caption}}
            </div>
        </div>
    </div>
    <div>
        <script type="text/ng-template" id="sliderEditorContent.html">
            <div ng-include="'views/slider.html'"></div>
        </script>
        <script type="text/ng-template" id="spotEditorContent.html">
            <div ng-include="'views/spot.html'"></div>
        </script>
        <script type="text/ng-template" id="publishContent.html">
            <div ng-include="'views/publish.html'"></div>
        </script>
    </div>
</div>