<div class="jumbotron">
  <h1>Editor de Vitrine</h1>
  <p class="lead">
    <img src="http://www.offpremium.com.br/loja/images/outlet/logo_offpremium.png" alt="Offpremium">    
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#editor">Entrar<span class="glyphicon glyphicon-ok"></span></a></p>
</div>