<div class="modal-header">
    <h3 class="modal-title">Publicar Vitrine - {{template.name}}</h3>
</div>
<div class="modal-body">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
	<div class="row">
		<div class="col-md-3">
			<label for="publish-date">Publicar em:</label>
		</div>
		<div class="col-md-6">
			<div style="display:inline-block; min-height:290px;">
	        	<datepicker ng-model="template.dateAvailable" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label for="publish-date">Horário:</label>
		</div>
		<div class="col-md-6">
			<input type="text" ng-model="publishTime" placeholder="hora:minutos" />
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="publish(publishTime)">Agendar <span class="glyphicon glyphicon-upload"></span></button>
    <button class="btn btn-warning" ng-click="cancel()">Fechar <span class="glyphicon glyphicon-remove"></span></button>
</div>