<div class="panel panel-default">
	<div class="panel-heading">Agenda de Vitrines</div>
	<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Agendada para</th>
			<th>Visualizar</th>
			<th>Alterar Data</th>
			<th>Excluir</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="template in scheduledTemplates">
			<td>{{template.id}}</td>
			<td>{{template.dateAvailable | date: 'dd/MM/yyyy HH:mm'}}</td>
			<td><button type="button" class="btn btn-default" ng-click="preview(template)"><span class="glyphicon glyphicon-eye-open"></span></button></td>
			<td><button type="button" class="btn btn-default" ng-click="openPublishDateModal(template)"><span class="glyphicon glyphicon-time"></span></button></td>
			<td><button type="button" class="btn btn-default" ng-click="remove(template)"><span class="glyphicon glyphicon-remove"></span></button></td>
		</tr>
	</tbody>
	</table>
</div>
<div>
	<script type="text/ng-template" id="publishContent.html">
        <div ng-include="'views/publish.html'"></div>
    </script>
</div>