<div class="modal-header">
    <h3 class="modal-title">Editar Carrossel</h3>
</div>
<div class="modal-body">
    <form role="form">
    <div class="form-group">
        <label for="imgs">Imagens:</label>
        <input type="file" id="imgs" ng-file-select="onFileSelect($files)" multiple accept="image/*" class="form-control">
    </div>
    <div class="form-group" ng-repeat="img in sliderImgs">
        <label for="url-{{$index}}">Link:</label>
        <input type="text" id="url-{{$index}}" class="form-control" ng-model="sliderUrls[$index]" />
        <small ng-file-select="onFileSelect($files)" ng-model="sliderImgs[$index]">{{img}}</small>
        <p>
            <button ng-file-select="onFileSelect($files, true)" ng-model="sliderImgs[$index]" title="Atualizar Imagem"><span class="glyphicon glyphicon-cog"></span></button>

            <button ng-click="removeSliderPosition($index)" title="Remover Imagem"><span class="glyphicon glyphicon-remove"></span></button>
        </p>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveSpot()">Salvar <span class="glyphicon glyphicon-floppy-save"></span></button>
    <button class="btn btn-warning" ng-click="cancel()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
</div>