<div class="modal-header">
    <h3 class="modal-title">Editar Destaque</h3>
</div>
<div class="modal-body">
    <form role="form">
    <div class="form-group">
        <label for="brand">Marca:</label>
        <select id="brand" class="form-control" ng-model="spot.overCaption" ng-change="setBrandOnSpot()" ng-options="s.id as s.label for s in brands" required="true">
            <option value="">Selecione</option>
        </select>
    </div>
    <div class="form-group">
        <label for="caption">Texto:</label>
        <textarea id="caption" ng-model="spot.caption" cols="60" rows="5" placeholder="Texto do destaque" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="img">Imagem:</label>
        <input type="file" id="img" ng-model="spot.imagePath" ng-file-select="onFileSelect($files)" accept="image/*" class="form-control">
    </div>
    <div class="form-group">
        <label for="url">Link:</label>
        <input type="url" ng-model="spot.url" class="form-control" id="url" />
    </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveSpot()">Salvar <span class="glyphicon glyphicon-floppy-save"></span></button>
    <button class="btn btn-warning" ng-click="cancel()">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
</div>